{
  "openapi": "3.0.1",
  "info": {
    "title": "ChannelEngine Merchant API",
    "description": "ChannelEngine API for merchants",
    "version": "2.22.12"
  },
  "servers": [
    {
      "url": "https://demo.channelengine.net/api"
    }
  ],
  "paths": {
    "/v2/cancellations/merchant": {
      "get": {
        "tags": [
          "Cancellations"
        ],
        "summary": "Gets cancelations",
        "description": "Gets cancelations based on their creation date.",
        "operationId": "CancellationGetForMerchant",
        "parameters": [
          {
            "name": "createdSince",
            "in": "query",
            "description": "Filter on the create date of the cancellation in ChannelEngine, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdTo",
            "in": "query",
            "description": "Filter on the create date of the cancellation in ChannelEngine, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "Filter on the update date of the cancellation in ChannelEngine, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updatedTo",
            "in": "query",
            "description": "Filter on the update date of the cancellation in ChannelEngine, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "List of Channel Order Numbers to filter the cancellations on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "List of Merchant Order Numbers to filter the cancellations on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantCancellationNos",
            "in": "query",
            "description": "List of Merchant Cancellation Numbers to filter the cancellations on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantCancellationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/cancellations": {
      "post": {
        "tags": [
          "Cancellations"
        ],
        "summary": "Creates a cancelation",
        "description": "Marks an order as fully or partially canceled based on order line and quantity input.",
        "operationId": "CancellationCreate",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/cancellations/mark-export-as-failed": {
      "post": {
        "tags": [
          "Cancellations"
        ],
        "operationId": "CancellationMarkExportAsFailed",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForCancellationsRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForCancellationsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForCancellationsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/channels": {
      "get": {
        "tags": [
          "Channels"
        ],
        "summary": "Gets channels",
        "description": "Gets the complete list of channels available on ChannelEngine including their **Global channel ID**.",
        "operationId": "Channel PluginsGet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfChannelGlobalChannelResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/competitionprices/buyboxprices": {
      "get": {
        "tags": [
          "Competition prices"
        ],
        "summary": "Gets the price from the buy box winner",
        "description": "Gets the current price of the buy box winner per product for a marketplace.",
        "operationId": "CompetitionPricesGetBuyBoxPrices",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "description": "The id of the channel",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "gtinList",
            "in": "query",
            "description": "Search products by submitting a list of GTIN's. (optional) <br />Max. 2000.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "skuList",
            "in": "query",
            "description": "Search products by submitting a list of Sku's. (optional) <br />Max. 2000. If GtinList is already set, this one is ignored.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductWithBuyBoxPrice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/custom-fields": {
      "get": {
        "tags": [
          "Custom fields"
        ],
        "summary": "Gets custom fields",
        "description": "Gets all custom fields in your ChannelEngine tenant, along with details on whether each field is public and actively in use.",
        "operationId": "CustomFieldsGetCustomFields",
        "parameters": [
          {
            "name": "pageIndex",
            "in": "query",
            "description": "A page index to get the items (starts from 0)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return (default 100)",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfCustomFieldResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Custom fields"
        ],
        "summary": "Delete custom fields by a given list of custom field ids (product extra data ids)",
        "operationId": "CustomFieldsDeleteCustomFields",
        "parameters": [
          {
            "name": "customFieldsIds",
            "in": "query",
            "description": "List of your custom fields Ids that you want to remove.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/fulfillmentstock": {
      "get": {
        "tags": [
          "Fulfillment stock"
        ],
        "summary": "Gets product stock across all warehouses with stock locations - Channel Fulfillment location",
        "description": "Gets the stocks. The warehouses must be set up as stock locations on ChannelEngine.",
        "operationId": "FulfillmentStockGetFulfillmentStockWithStockLocations",
        "parameters": [
          {
            "name": "merchantProductNos",
            "in": "query",
            "description": "List of your products' MerchantProductNo's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "A page index to get the items (starts from 0)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return (default 100)",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantFulfillmentStockStockLocationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/channels/{channelId}/products": {
      "get": {
        "tags": [
          "Listed products"
        ],
        "summary": "Gets products listed by channel",
        "description": "Gets the products listed per channel based on the **Channel ID**. <br /> <br />**NB:** not all marketplaces provide adequate options to retrieve the status of a product as seen on the marketplace.",
        "operationId": "ListedProductGetByFilter",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "description": "The id of a channel",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "merchantProductNos",
            "in": "query",
            "description": "The unique product references used by the Merchant (SKUs)",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfChannelListedProductResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/notifications": {
      "get": {
        "tags": [
          "Notifications"
        ],
        "summary": "Gets notifications",
        "description": "Gets ChannelEngine notifications based on the available filters.",
        "operationId": "NotificationIndex",
        "parameters": [
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter on the notification date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter on the notification date, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "types",
            "in": "query",
            "description": "Notification type(s) to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "CHANNEL_ORDER_ANONYMIZED_BY_REQUEST",
                  "CHANNEL_ORDER_ANONYMIZED_AUTOMATICALLY",
                  "CHANNEL_ORDER_CANCELLATION_REQUEST_NEW",
                  "CHANNEL_ORDER_CORRECTION_NEEDED",
                  "CHANNEL_ORDER_DUPLICATE_LINE",
                  "CHANNEL_ORDER_INVOICE_SEND_FAILED",
                  "CHANNEL_ORDER_IMPORT_FAILED",
                  "CHANNEL_ORDER_NEW",
                  "CHANNEL_ORDER_OVERDUE",
                  "CHANNEL_PRODUCT_DATA_EXPORT_FAILED",
                  "CHANNEL_PRODUCT_DATA_IMPORT_FAILED",
                  "CHANNEL_RETURN_EXPORT_FAILED",
                  "CHANNEL_RETURN_IMPORT_FAILED",
                  "CHANNEL_RETURN_NEW",
                  "CHANNEL_RETURN_OVERDUE",
                  "CHANNEL_REFUND_EXPORT_FAILED",
                  "CHANNEL_SHIPMENT_IMPORT_FAILED",
                  "CHANNEL_SHIPMENT_IMPORT_STATUS_FAILED",
                  "CHANNEL_SHIPMENT_EXPORT_FAILED",
                  "CHANNEL_SHIPMENT_IMPORT_MISSING_LINE_FAILED",
                  "CHANNEL_FULFILLMENT_SHIPMENT_IMPORT_STATUS_FAILED",
                  "CHANNEL_FULFILLMENT_SHIPMENT_EXPORT_FAILED",
                  "CHANNEL_FULFILLMENT_SHIPMENT_EXPORT_SUCCEEDED",
                  "CHANNEL_FULFILLMENT_SHIPMENT_LINE_FOR_CLOSED_ORDER",
                  "CHANNELENGINE_SUPPORT_NOTIFICATION",
                  "CHANNELENGINE_WEBHOOK_RQUEST_FAILED",
                  "FEED_NO_PRODUCTS_FAILED",
                  "FEED_IMPORT_FAILED",
                  "GLOBAL_MESSAGE",
                  "MERCHANT_ORDER_EXPORT_FAILED",
                  "PLUGIN_INVALID_SETTING",
                  "PLUGIN_DEACTIVATED",
                  "PRODUCT_BUNDLE_IMPORT_FAILED",
                  "CHANNEL_REFUND_LINE_ITEMS_ERROR",
                  "CHANNEL_CANCELLATION_EXPORT_FAILED",
                  "MERCHANT_ORDER_EXPORT_LINES_CANCELLED",
                  "OAUTH_REFRESH_TOKEN_ABOUT_TO_EXPIRE",
                  "MERCHANT_CANCELLATION_IMPORT_FAILED",
                  "CHANNEL_ORDER_TOO_LONG_ON_NEW",
                  "MERCHANT_STOCK_UPDATE_FAILED",
                  "FEED_INVALID_PRODUCTS_OCCURED",
                  "CHANNEL_SHIPMENT_EXPORT_INVALID_MERCHANTSHIPMENTNO",
                  "CHANNEL_PRODUCT_OFFER_EXPORT_FAILED",
                  "TRANSLATION_IMAGE_TAGS_BROKEN",
                  "CHANNEL_RETURN_DELETED",
                  "TAX_PROVIDER_NOT_ACTIVATED",
                  "STOCK_LOCATION_NOT_FOUND",
                  "CUSTOM_VAT_RATE_OVERLAPPING_RATES",
                  "TRANSLATION_FAILED",
                  "ORDER_FALLBACK_TO_DEFAULT_STOCKLOCATION",
                  "CHANNEL_FULFILLMENT_SHIPMENT_RECEIVED",
                  "TRANSLATION_RETRY",
                  "PLUGIN_SALES_CHANNEL_DEACTIVATED",
                  "PLUGIN_CATEGORIES_CHANGED",
                  "PLUGIN_ATTRIBUTES_CHANGED",
                  "ORDER_WITH_BACKORDER_STATUS",
                  "ORDER_WITH_BACKORDER_STATUS_FULFILLED",
                  "ORDERS_GOT_REJECTED_BY_MCF",
                  "PLUGIN_VALIDATION_FAILED",
                  "UPDATE_STOCK_SWITCHED_OFF_FOR_PLUGIN",
                  "CHANNEL_RETURN_REQUIRED_ATTENTION",
                  "CHANNEL_PURCHASE_ORDER_NEW",
                  "CHANNEL_PURCHASE_ORDER_LINE_CHANGED",
                  "CHANNEL_PURCHASE_ORDER_LINE_CANCELLED",
                  "CHANNEL_PURCHASE_ORDER_ACKNOWLEDGEMENT_FAILED",
                  "CHANNEL_PURCHASE_ORDER_SHIPMENT_EXPORT_FAILED",
                  "CHANNEL_PURCHASE_ORDER_INVOICE_CREATION_FAILED",
                  "CHANNEL_KPI_TARGET_MISSED",
                  "LATE_UNSHIPPED_ORDERS",
                  "FEED_ENABLED",
                  "FEED_DISABLED",
                  "PRODUCT_IMPORT_FEEDS_SUCCESS",
                  "SETTLEMENT_EXPORT_FAILED",
                  "CHANNEL_SHIPMENTS_UPDATE_FAILED",
                  "PLUGIN_DSA_INFO",
                  "CHANNEL_SHIPMENT_TOO_LONG_ON_PENDING",
                  "MAPPINGS_IMPORT_TASK",
                  "RECOMMENDATION_GENERATION_TASK",
                  "CHANNEL_INSIGHTS_REPORT_GENERATION_SUCCEEDED",
                  "CHANNEL_INSIGHTS_REPORT_GENERATION_FAILED",
                  "ADVANCED_PARSER_USAGE_NOTIFICATION",
                  "CHANNEL_PURCHASE_ORDER_ADDRESS_CHANGED",
                  "LATE_UNSHIPPED_ORDERS_IN_DAY_TIME",
                  "FEED_BUILDER_EMPTY_EXPORT_NOTIFICATION",
                  "STOCK_LOCATION_SUCCESSFULLY_CONNECTED",
                  "STOCK_LOCATION_FAILED_TO_CONNECT",
                  "PLUGIN_UNAUTHORIZED",
                  "DROPPED_PRODUCTS_THRESHOLD_EXCEEDED",
                  "WAREHOUSE_FAILED_TO_CREATE",
                  "SETTLEMENT_IMPORT_FAILED",
                  "PRODUCT_MEDIA_DOWNLOAD_REPORT",
                  "SHIPMENT_DELIVERY_EXPORT_FAILED",
                  "COMPUTED_EXTRA_DATA_RECALCULATION_COMPLETED",
                  "INVALID_PRODUCTS_SKIPPED",
                  "MERCHANT_PRODUCT_STOCKS_IMPORT_FAILED",
                  "TAX_PROVIDER_COMPANIES_IMPORT_RESULT"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantReturnNos",
            "in": "query",
            "description": "Filter on unique return reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelReturnNos",
            "in": "query",
            "description": "Filter on unique return reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantShipmentNos",
            "in": "query",
            "description": "Filter on unique shipment reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantNotificationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/offer": {
      "put": {
        "tags": [
          "Offers"
        ],
        "summary": "Updates stock and price",
        "description": "Updates product stock and price.",
        "operationId": "OfferStockPriceUpdate",
        "requestBody": {
          "description": "References to the products that should be updated, and the new values <br />for the stock or price fields. It is possible to supply only one of the two fields <br />or both.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantStockPriceUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "**Message** can be **\"Updates processed without warnings\"** or in case of validations **\"Updates processed, see 'Content' for warnings\"**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfDictionaryOfStringAndListOfString"
                }
              }
            }
          }
        }
      }
    },
    "/v2/offer/stock": {
      "put": {
        "tags": [
          "Offers"
        ],
        "summary": "Updates stock",
        "description": "Updates product stock.",
        "operationId": "OfferStockUpdate",
        "requestBody": {
          "description": "References to the new values for the stock fields.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MerchantOfferStockUpdateRequest"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "**Message** can be **\"Updates processed without warnings\"** or in case of validations **\"Updates processed, see 'Content' for warnings\"**",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfDictionaryOfStringAndListOfString"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Gets product stock across all warehouses",
        "description": "Gets the stock available in the warehouses. The warehouses must be set up as stock locations on ChannelEngine.",
        "operationId": "OfferGetStock",
        "parameters": [
          {
            "name": "skus",
            "in": "query",
            "description": "List of your products' sku's.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "stockLocationIds",
            "in": "query",
            "description": "The ChannelEngine id of the stock location(s).",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "pageIndex",
            "in": "query",
            "description": "A page index to get the items (starts from 0)",
            "schema": {
              "maximum": 2147483647,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items to return (default 100)",
            "schema": {
              "maximum": 500,
              "minimum": 0,
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOfferGetStockResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/offer/{channelId}/product-level-stock-limitations": {
      "get": {
        "tags": [
          "Offers"
        ],
        "summary": "Get product-level stock limitations for a specific channel.",
        "operationId": "OfferGetProductLevelStockLimits",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductLevelStockLimitsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Offers"
        ],
        "summary": "Sets product-level stock limitations for a specific channel.",
        "description": "If stock limitations are defined at the channel level for a specific channel, the stock location will be omitted from the request.",
        "operationId": "OfferPostProductLevelStockLimits",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsPersistRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsPersistRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsPersistRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SingleOfMerchantProductsStockLevelsResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Offers"
        ],
        "summary": "Remove product-level stock limitations for a specific channel.",
        "operationId": "OfferDeleteProductLevelStockLimits",
        "parameters": [
          {
            "name": "channelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsDeleteRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsDeleteRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantProductsStockLevelLimitsDeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantProductsStockLevelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/documents": {
      "get": {
        "tags": [
          "Order Documents"
        ],
        "summary": "Get documents by filters",
        "description": "Fetch collection of documents based on the provided filters",
        "operationId": "Order DocumentsGetDocumentsByFilter",
        "parameters": [
          {
            "name": "identifiers.identifierType",
            "in": "query",
            "description": "The type of identifier: which identifier to filter on",
            "schema": {
              "enum": [
                "CHANNEL_ORDER_NO",
                "MERCHANT_ORDER_NO"
              ],
              "type": "string"
            }
          },
          {
            "name": "identifiers.models",
            "in": "query",
            "description": "The value (of the selected type) to filter on",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "createdDateRange.fromDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "createdDateRange.toDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "onlyUnacknowledgedByMerchant",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "enum": [
                "MERCHANT_INVOICE",
                "FISCAL_NOTE",
                "SHIPPING_LABEL",
                "RETURN_LABEL",
                "PACKING_SLIP",
                "PROOF_OF_DELIVERY",
                "CHANNEL_INVOICE"
              ],
              "type": "string"
            }
          },
          {
            "name": "linkedWith",
            "in": "query",
            "schema": {
              "enum": [
                "ORDER",
                "RETURN",
                "SHIPMENT"
              ],
              "type": "string"
            }
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfIDocumentByFilter"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/documents/file": {
      "get": {
        "tags": [
          "Order Documents"
        ],
        "summary": "Get document file for order.",
        "description": "Downloads the file of the order document.",
        "operationId": "Order DocumentsGetDocumentFileForOrder",
        "parameters": [
          {
            "name": "channelId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "documentId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfIDocumentByFilter"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "410": {
            "description": "Gone",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/documents/acknowledge": {
      "post": {
        "tags": [
          "Order Documents"
        ],
        "summary": "Acknowledge a document.",
        "description": "Acknowledge a single document. By acknowledging the document the merchant can confirm that <br />the document has been received. These references will be used in the other API calls. <br />After a successful request, the document is marked as Merchant Acknowledged. <br />If the document is already acknowledged, you'll receive a 404 Bad request",
        "operationId": "Order DocumentsAcknowledgeDocument",
        "requestBody": {
          "description": "Relations between the id's returned by ChannelEngine and the references which the merchant uses.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAcknowledgeDocumentRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAcknowledgeDocumentRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantAcknowledgeDocumentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfIDocumentByFilter"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets orders by filter",
        "description": "Gets orders based on the available filters.",
        "operationId": "OrderGetByFilter",
        "parameters": [
          {
            "name": "statuses",
            "in": "query",
            "description": "Order status(es) to filter on. AWAITING_PAYMENT orders will be excluded if it is not included in this Statuses filter.",
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "IN_PROGRESS",
                  "SHIPPED",
                  "IN_BACKORDER",
                  "MANCO",
                  "CANCELED",
                  "IN_COMBI",
                  "CLOSED",
                  "NEW",
                  "RETURNED",
                  "REQUIRES_CORRECTION",
                  "AWAITING_PAYMENT"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "emailAddresses",
            "in": "query",
            "description": "Client emailaddresses to filter on.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "merchantOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the merchant.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "channelOrderNos",
            "in": "query",
            "description": "Filter on unique order reference used by the channel.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "commercialOrderNos",
            "in": "query",
            "description": "Filter on commercial order numbers.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "fromDate",
            "in": "query",
            "description": "Filter on the order date, starting from this date. This date is inclusive. <br />The order date is based on the data we got from a channel.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toDate",
            "in": "query",
            "description": "Filter on the order date, until this date. This date is exclusive. <br />The order date is based on the data we got from a channel.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromCreatedAtDate",
            "in": "query",
            "description": "Filter on the created at date in ChannelEngine, starting from this date. This date is inclusive. <br />The created date is set on the date and time when the order is created.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toCreatedAtDate",
            "in": "query",
            "description": "Filter on the created at date in ChannelEngine, until this date. This date is exclusive. <br />The created date is set on the date and time when the order is created.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "excludeMarketplaceFulfilledOrdersAndLines",
            "in": "query",
            "description": "Exclude order (lines) fulfilled by the marketplace (amazon:FBA, bol:LVB, etc.)",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fulfillmentType",
            "in": "query",
            "description": "Filter orders on fulfillment type. This will include all orders lines, even if they are partially fulfilled by the marketplace. <br />To exclude orders and lines that are fulfilled by the marketplace from the response, set ExcludeMarketplaceFulfilledOrdersAndLines to true.",
            "schema": {
              "enum": [
                "ALL",
                "ONLY_MERCHANT",
                "ONLY_CHANNEL",
                "MIXED",
                "INCLUDES_MERCHANT",
                "INCLUDES_CHANNEL"
              ],
              "type": "string"
            }
          },
          {
            "name": "onlyWithCancellationRequests",
            "in": "query",
            "description": "Filter on orders containing cancellation requests. <br />Some channels allow a customer to cancel an order until it has been shipped. <br />When an order has already been acknowledged in ChannelEngine, it can only be cancelled by creating a cancellation.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "channelIds",
            "in": "query",
            "description": "Filter orders on channel(s).",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "stockLocationIds",
            "in": "query",
            "description": "Filter on stock locations",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          {
            "name": "isAcknowledged",
            "in": "query",
            "description": "Filter on acknowledged value",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "fromUpdatedAtDate",
            "in": "query",
            "description": "Filter on the order update date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toUpdatedAtDate",
            "in": "query",
            "description": "Filter on the order update date, unitl this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromAcknowledgedDate",
            "in": "query",
            "description": "Filter on the order acknowledged date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toAcknowledgedDate",
            "in": "query",
            "description": "Filter on the order acknowledged date, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "fromClosedAtDate",
            "in": "query",
            "description": "Filter on the order ClosedAt date, starting from this date. This date is inclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "toClosedAtDate",
            "in": "query",
            "description": "Filter on the order ClosedAt date, until this date. This date is exclusive.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page to filter on. Starts at 1.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/new": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Gets new orders",
        "description": "Gets orders with the status **New**.",
        "operationId": "OrderGetNew",
        "parameters": [
          {
            "name": "stockLocationId",
            "in": "query",
            "description": "The ChannelEngine id of the stock location.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionOfMerchantOrderResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/acknowledge": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Acknowledges orders",
        "description": "Acknowledges an order to confirm order import.",
        "operationId": "OrderAcknowledge",
        "requestBody": {
          "description": "Relations between the id's returned by ChannelEngine and the references which the merchant uses.",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderAcknowledgementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/invoice": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Generates an order invoice",
        "description": "Generates the ChannelEngine sales tax invoice for an order in PDF.",
        "operationId": "OrderInvoice",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useCustomerCulture",
            "in": "query",
            "description": "Generate the invoice in the billing address' country's language.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "file",
                  "format": "byte"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Uploads an order invoice",
        "description": "Uploads the invoice for an order in PDF.",
        "operationId": "OrderUploadInvoice",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "invoice"
                ],
                "type": "object",
                "properties": {
                  "invoice": {
                    "type": "string",
                    "description": "PDF invoice file up to 1 MB with additional data.",
                    "format": "binary"
                  },
                  "invoiceNumber": {
                    "maxLength": 50,
                    "minLength": 0,
                    "type": "string",
                    "description": "The invoice number used in the invoice."
                  }
                }
              },
              "encoding": {
                "invoice": {
                  "style": "form"
                },
                "invoiceNumber": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/packingslip": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "Generates a packing slip",
        "description": "Generates the ChannelEngine packing slip for an order in PDF.",
        "operationId": "OrderPackingSlip",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "description": "The unique order reference as used by the merchant.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "useCustomerCulture",
            "in": "query",
            "description": "Generate the invoice in the billing address' country's language.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Packing Slip PDF",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "file",
                  "format": "byte"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/comment": {
      "put": {
        "tags": [
          "Orders"
        ],
        "summary": "Updates an order comment",
        "description": "Updates the merchant comment for an order based on the ChannelEngine **Order ID** or the **Merchant order number**.",
        "operationId": "OrderUpdate",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantOrderCommentUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/{merchantOrderNo}/invoice-base64": {
      "post": {
        "tags": [
          "Orders"
        ],
        "summary": "Uploads an order invoice PDF from Base64 string.",
        "description": "Uploads an order invoice PDF from Base64 string. <br />Invoice size must be less than 1 mb.",
        "operationId": "OrderUploadInvoiceAsString",
        "parameters": [
          {
            "name": "merchantOrderNo",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MerchantInvoiceUploadRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
                  "MerchantProductNo too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["The length of 'Model Product Identifier' must be 64 characters or fewer. You entered 116 characters."]}}
                  },
                  "Invalid ProductId": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.ProductIdentifier":["'Model Product Identifier' must be a valid integer greater than 0."]}}
                  },
                  "Size too long": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Size":["The length of 'Size' must be 64 characters or fewer. You entered 90 characters."]}}
                  },
                  "Price not a valid number": {
                    "value": {"StatusCode":400,"RequestId":null,"LogId":null,"Success":false,"Message":"Bad request","ExceptionType":null,"ValidationErrors":{"Model.Price":["'Price' must be greater than or equal to '0'."]}}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/orders/mark-export-as-failed": {
      "post": {
        "tags": [
          "Orders"
        ],
        "operationId": "OrderMarkExportAsFailed",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForOrdersRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForOrdersRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BulkMerchantMarkExportAsFailedForOrdersRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResponse"
                },
                "examples": {
[...]
